* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;


}

.nav {
    display: flex;
    justify-content: space-between;


}

.nav-title {
    text-align: center;
    padding-left: 228px;
    padding-top: 30px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.manu {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;

}

.manu li {
    list-style: none;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

}

.manu li a {
    text-decoration: none;
    color: #424242;

}

.brand {
    text-align: center;
    margin-top: 100px;
    width: 1296px;
    margin-left: 240px;

}

.brand h1 {
    margin-left: 240px;
    width: 850px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;

}

.brand p {
    margin-top: 50px;
}

.brand button {
    margin-top: 50px;
    width: 180px;
    height: 64px;
    left: 870px;
    top: 463px;
    background-color: chocolate;
    color: #FFFFFF;
    border-radius: 8px;
    border-color: chocolate;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

}

.cover {
    margin-top: 50px;
    margin-left: 240px;
    margin-right: 240px;
}

.cover img {
    width: 100%;
}

.quick-list {
    margin: 50px 240px 0 240px;
    display: flex;

}

.quick-gird {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-text {
    padding-left: 73px;
    padding-top: 273px;

}

.quick-text h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
}

.quick-text p {
    padding-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.quick-text button {
    margin-top: 32px;
    background-color: chocolate;
    width: 180px;
    height: 64px;
    left: 1082px;
    top: 1849px;
    color: #FFFFFF;
    border-radius: 8px;
    border-color: chocolate;
}

.feature {
    display: flex;
    justify-content: space-between;
    gap: 135px;
    margin: 130px 240px;
    width: 1440px;
    height: 1059px;
    left: 240px;
    top: 2245px;

}

.feature-text {}

.feature-text h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}

.feature-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
    width: 586px;
    height: 78px;
    left: 240px;
    top: 2414px;
}

.feature-cont {
    /* width: 586px;
    height: 171px;
    left: 240px;
    top: 2522px; */
    /* background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px; */
}

.feature-box {
    width: 586px;
    height: 171px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;

}

.feature-box h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    padding-top: 30px;
    padding-left: 33px;
    padding-bottom: 10px;


}

.feature-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 0 42px 30px 30px;
    width: 514px;
    height: 78px;
    left: 270px;
    top: 3158px;
}

.feature-image img {
    width: 100%;
}

.fact {
    margin-bottom: 130px;
    margin-left: 240px;
}

.fact-text h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.fact-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 25px;
    width: 542px;
    height: 52px;
    left: 240px;
    top: 3511px;
}

.fact-img {
    margin-top: 100px;
    display: flex;
    gap: 125px;
    text-align: center;
    margin-left: 60px;
  
}

.fact-cont {
    padding: 45px 37px 60px 36px;
    border: 1px solid #FF900E;
    border-radius: 8px;

}

.fact-cont img {
    padding-bottom: 10px;

}

.fact-cont h3 {
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    ;

}

.fact-cont p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}