* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;


}

.landing {
    width: 1920px;
    height: 1322px;
    left: 0px;
    top: 0px;

    background: rgba(255, 144, 14, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;


}

.nav-title {
    text-align: center;
    padding-left: 228px;
    padding-top: 30px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.manu {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;

}

.manu li {
    list-style: none;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

}

.manu li a {
    text-decoration: none;
    color: #424242;

}

/* baner section */
.brand {
    text-align: center;
    margin-top: 100px;
    width: 1296px;
    margin-left: 240px;

}

.brand h1 {
    margin-left: 260px;
    width: 850px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;

}

.brand p {
    margin-top: 30px;
    margin-left: 250px;
    width: 868px;
    height: 52px;
    left: 526px;
    top: 379px;
}

.brand button {
    margin-top: 30px;
    margin-left: 100px;
    width: 180px;
    height: 64px;
    left: 870px;
    top: 463px;
    background: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

}

.cover {
    margin-top: 50px;
    margin-left: 240px;
    margin-right: 240px;
}

.cover img {
    width: 100%;
}

/* feature section */
.quick-list {
    margin: 50px 240px 0 240px;
    display: flex;

}

.quick-gird {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-text {
    padding-left: 73px;
    padding-top: 273px;

}

.quick-text h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}

.quick-text p {
    padding-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 537px;
    height: 78px;
    left: 1082px;
    top: 1739px;
    color: #727272;
}

.quick-text button {
    margin-top: 32px;
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    left: 1082px;
    top: 1849px;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}

.feature {
    display: flex;
    justify-content: space-between;
    gap: 135px;
    margin: 130px 240px;
    width: 1440px;
    height: 1059px;
    left: 240px;
    top: 2245px;

}

.feature-text {}

.feature-text h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}

.feature-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
    width: 586px;
    height: 78px;
    left: 240px;
    top: 2414px;
}

.feature-cont {
    /* width: 586px;
    height: 171px;
    left: 240px;
    top: 2522px; */
    /* background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px; */
}

.feature-box {
    width: 586px;
    height: 171px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;

}

.feature-box h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    padding-top: 30px;
    padding-left: 33px;
    padding-bottom: 10px;


}

.feature-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 0 42px 30px 30px;
    width: 514px;
    height: 78px;
    left: 270px;
    top: 3158px;
}

/* 
.feature-image img {
    width: 100%;
} */
.feature-image {
    background-image: url(../images/architect.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.feature-image button {
    width: 342px;
    height: 200px;
    left: 880px;
    top: 3104px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    position: absolute;

}

.feature-image button h3 {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    color: #FFFFFF;


}

.feature-image button h4 {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;

}

/* some facts section */
.fact {
    margin-bottom: 130px;
    margin-left: 240px;
}

.fact-text h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.fact-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 25px;
    width: 542px;
    height: 52px;
    left: 240px;
    top: 3511px;
}

.fact-img {
    margin-top: 100px;
    display: flex;
    gap: 125px;
    text-align: center;
    margin-left: 60px;

}

.fact-cont {
    padding: 45px 37px 60px 36px;
    border: 1px solid #FF900E;
    border-radius: 8px;

}

.fact-cont img {
    padding-bottom: 10px;

}

.fact-cont h3 {
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    ;

}

.fact-cont p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

/* our sponspors sectoin */
.spon {
    margin-left: 240px;
    text-align: center;
}

.spon-text {}

.spon-text h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.spon-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-bottom: 50px;
}

.spon-img {
    display: flex;
    gap: 155px;
    filter: grayscale(100%);

}

/* footer section */
.foot {
    margin: 130px 240px 216px 240px;
    width: 1440px;
    height: 100px;
    left: 240px;
    top: 4444px;
    text-align: center;
    background: #FFF4E7;
}

.foot p {
    padding-top: 39px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}